.button {
  padding: 19px 0;
  text-transform: unset;
  color: #fcfcfc;
  font-weight: bold;
  display: block;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  background: #FF8500;
  width: 200px;
}

.button:hover{
  background: #ED8221;
}